body {
    font-family: South Island;
    margin: 0;
    padding: 0;
    background-color: #FAE8E0; 
    display: flex;
    flex-direction: row; /* Promenjeno iz column u row */
}

header {
    background-color: #063630; 
    width: 100%;
    padding: 0;
    text-align: center;
    color: #14776c; 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

nav {
    width: 150px;
    background-color: #5a8883; 
    padding-top: 10px;
  
    position: fixed;
    top: 80px; /* Visina headera */
    bottom: 60px; /* Visina footera */
    left: 0;
    z-index: 500; /* Smanjen da bi bio ispod headere i footera */
    overflow-y: auto;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

nav ul li a {
    font-weight: bold;
    font-size: larger;
    color: #5C3D2E; 
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

nav ul li a:hover {
    background-color: #063630; 
    border-radius: 5px;
}

footer {
    background-color: #063630; 
    color: #14776c; 
    text-align: center;
    padding: 1.5rem;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    height: 23px;
}

footer p {
    margin: 0;
}

main {
    margin-top: 60px; /* Ovde se dodaje visina headere */
    margin-left: 200px; /* Širina sidebar-a */
    padding: 20px;
    flex: 1; /* Omogućava da main zauzme preostali prostor */
    width: calc(100% - 200px); /* Oduzima širinu sidebar-a od ukupne širine */
    box-sizing: border-box;
}

#sidebar-logo {
    width: 100%; /* Širina će biti prilagođena širini sidebar-a */
    margin-bottom: 0px;
    margin-top: 110px;
}


.pozadina {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
}

.planinari {
    margin-top: 100px;
    width: 65%;
}

.content-kontakt {
    display: flex; /* Postavlja flex kontejner */
    align-items: center; /* Vertikalno centriranje sadržaja */
    justify-content: start; /* Horizontalno poravnavanje na početak */
  }
  
  .content-kontakt > div:first-child {
    flex-shrink: 0; /* Sprečava smanjivanje slike */
  }
  
 
  .kontakt-info {
    display: flex;
    flex-direction: column; /* Postavlja elemente u kolonu */
    background-color: #5a8883ea; /* Boja pozadine */
    color: #5C3D2E; /* Boja teksta */
    margin-right: 50px; /* Razmak između slike i tekstualnog sadržaja */
    padding: 30px; /* Padding oko tekstualnog sadržaja */
    font-weight: bold; /* Boldovani tekst */
  }
  
  .kontakt-item {
    margin-bottom: 10px; /* Razmak između kontakt elemenata */
  }
  
  .pocetnah1 {
    position: absolute; /* Apsolutno pozicioniranje u odnosu na relativno pozicionirani roditelj */
    top: 30%; /* Vertikalna pozicija, približno sredina ekrana */
    left: 55%; /* Horizontalna pozicija, malo udesno od centra */
    transform: translate(-50%, -50%); /* Precizno centriranje teksta */
    font-size: 10em; /* Veličina fonta */
    width: 60%; /* Širina elementa */
    text-align: center; /* Centriranje teksta unutar elementa */
    color: #5C3D2E; /* Bela boja teksta za bolji kontrast */
    z-index: 10; /* Osigurava da tekst bude iznad pozadinske slike */
    text-shadow: 2px 2px 8px #ffffff; /* Dodaje belu senku sa blagim zamućenjem */
}
  
.card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .card {
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: calc(30% - 20px);
    margin: 10px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin-top: 5%;
  }
  
  .card-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .card-title {
    color: #063630;
    font-size: 1.5em;
    margin: 0.5em;
  }
  
  .card-description {
    color: #333;
    padding: 0 0.5em 0.5em;
  }
  
  .card-button {
    display: block;
    background-color: #5a8883;
    color: #fff;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 0 0 8px 8px;
  }
  
  .card-button:hover {
    background-color: #063630;
  }
  .card-container-tura {
    display: flex;
    justify-content: space-around; /* Ovo će ravnomerno rasporediti kartice */
    flex-wrap: wrap; /* Ovo omogućava da se kartice prelome u novi red ako nema dovoljno mesta */
    gap: 20px;
    margin: 0 auto; /* Centriranje kontejnera */
    padding: 20px; /* Dodaje prostor unutar kontejnera */
    max-width: 1200px; /* Maksimalna širina kontejnera */
    margin-top: 60px;

}

.card-tura {
    padding: 20px;
    width: calc(33.333% - 20px); /* Postavljanje širine kartica na trećinu kontejnera umanjen za razmak */
    margin-bottom: 20px; /* Razmak između redova */
    transition: transform 0.2s;
    max-width: 250px;
    margin-top: 60px;
    color: #333;
}

.card-tura:hover {
    transform: scale(1.05);
}

  .card-tura {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 30%;
    margin: 16px;
    transition: transform 0.2s;
  }
  
  .card-tura:hover {
    transform: scale(1.05);
  }
  
  .card-image-tura {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .card-title-tura, .card-description-tura {
    margin: 8px 0;
  }
  
  button {
    background-color: #5a8883;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
  }
  
  button:hover {
    background-color: #063630;
  }
  
  .modal {
    display: none;
    position: fixed;
    z-index: 1001;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
  }
  
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  

  .upcoming-tours {
    text-align: center; /* Centriranje teksta */
    margin: 20px 0; /* Dodavanje margine iznad i ispod teksta */
    font-size: 2em; /* Povećanje veličine fonta */
    color: #53382b; /* Boja teksta */
    text-shadow: 2px 2px 8px #000000; /* Dodaje belu senku sa blagim zamućenjem */
    font-weight: bold;

}
#reservation-form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #063630;
    border-radius: 8px;
    background-color: #426965a8; /* Tamna pozadina za bolji kontrast sa belim tekstom */
    color: white; /* Boja teksta */
    margin-bottom: 100px;
  }
  
  #reservation-form label {
    margin-left: 10%;

    display: inline-block; /* Labela će biti u istom redu sa input poljem */
    margin-top: 5px;
    margin-right: 10px; /* Dodaje se prostor između labele i input polja */
    width: calc(100% - 120px); /* Širina labele */
    font-weight: bold;
    vertical-align: middle; /* Poravnavanje sa input poljima */
  }
  
  #reservation-form input[type="text"],
  #reservation-form input[type="email"],
  #reservation-form input[type="tel"] {
    margin-left: 10%;

    width: 70%; /* Sva polja iste širine */
    padding: 20px; 
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-weight: bold;
    background-color: #ffffff;
    color: #000; /* Boja unosa */
  }

  #reservation-form select {

    margin-left: 10%;

    width: 80%; /* Sva polja iste širine */
    padding: 20px; 
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-weight: bold;
    background-color: #ffffff;
    color: #000; /* Boja unosa */
  }

  #reservation-form input[type="date"] {
    margin-left: 10%;

    width: 70%; /* Sva polja iste širine */
    padding: 20px; 
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-weight: bold;
    background-color: #ffffff;
    color: #000; /* Boja unosa */

  }

  
  #reservation-form input[type="checkbox"] {
    margin-left: 10%;

    margin-left: 10px; /* Razmak da se stavi desno od teksta */
    vertical-align: middle;
  }
  
  #reservation-form input[type="submit"] {
    

    width: 80%; /* Širina dugmeta kako bi se uklopilo sa ostalim poljima */
    background-color: #5a8883;
    color: white;
    padding: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    margin-left: 10%;



    border: 1px solid #ddd;  }
  
  #reservation-form input[type="submit"]:hover {
    background-color: #063630;
  }
  
  #people-counter {
    display: flex;
    align-items: center;
    justify-content: center; /* Centriranje dugmića za broj osoba */
    width: 100%;

  }
  
  #people-counter button {
    padding: 10px 20px; /* Povećan padding za bolji izgled */
    margin: 0 5px;
    background-color: #5a8883;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
  }
  
  #people-counter button:hover {
    background-color: #063630;
  }
  
  #people-counter input {
    width: 185px; /* Širina polja za unos broja osoba */
    text-align: center;
    padding: 10px;
    margin: 0 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  #total-container {
    color: white;
    font-weight: bold;
    margin-top: 15px;
    justify-content: left;
    margin-right: 50%; 
 }
  
  #total-container p {
    text-align: center; /* Centriranje teksta ukupnog iznosa */
  }
  